# Variables

In [1]:
x = 5
y = "John"

In [2]:
#the value of x and y
print(x)
print(y)

5
John

In [3]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)    # exchanged the value of x

Sally

In [4]:
a = 4
A = "Sally"
#A will not overwrite a bcs python us case sensitive 
print(a,"\n",A)

4
 Sally

# Basic Questions

name
    college
            city

In [5]:
print("name\n\tcollege\n\t\tcity")

name
	college
		city

*
**
***

In [6]:
print("*\n**\n***")

*
**
***

  *
*   *
  *

In [7]:
print("    *\n*\t*\n    *")

    *
*	*
    *

# Case Sensitive

In [8]:
# Camel Case
# Each word, except the first, starts with a capital letter:

myVariableName = "John"

In [9]:
# Pascal Case
# Each word starts with a capital letter:

MyVariableName = "John"

In [10]:
# Snake Case
# Each word is separated by an underscore character:

my_variable_name = "John"

In [11]:
# multiple variables at once
x, y, z = "Sam", "Shub", "pragati"
print(x)
print(y)
print(z)

Sam
Shub
pragati

In [12]:
# same value in multiple variables in one line 
x= y= z = "Sam"
print(x)
print(y)
print(z)

Sam
Sam
Sam

# Unpack The List

In [13]:
# Unpack the list
names = ["Sam", "Shub", "pragati"]
x, y, z = names
print(x)
print(y)
print(z)

Sam
Shub
pragati

# Unpack The Tuples

In [14]:
names = ("Sam", "Shub", "pragati")
(green, yellow,red)=names
print(green)
print(yellow)
print(red)

Sam
Shub
pragati

# Using Asterisk *

In [15]:
names = ("Sam", "Shub", "pragati","anuj","shweta")
(green, yellow,*red)=names
print(green)
print(yellow)
print(red) #Using asterisk, if the number of variables is less than the numberof values, we can add an * to the variable name and the values will be assigned to the variable as a list

Sam
Shub
['pragati', 'anuj', 'shweta']

In [16]:
names = ("Sam", "Shub", "pragati","anuj","shweta")
(green, *yellow,red)=names
print(green)
print(yellow)
print(red)

Sam
['Shub', 'pragati', 'anuj']
shweta

In [17]:
x = "python"
y = "is"
z = "Awesome"
print(x,y,z) # seperated by comma
print(x +" "+y+" "+z) # with plus operator

python is Awesome
python is Awesome

# Operators

# Arithmetic Operators
# + - * / % // **

In [18]:
# mathematical operator 
x= 9
y= 3
print(x+y) 
print(x-y)
print(x/y)
print(x*y)
print(x**y) # exponents
print(x%y) # modulo
print(x//y) # floor division

12
6
3.0
27
729
0
3

In [19]:
#Merge variable a with variable b into variable c
a = "Hello"
b = "World"
c = a + b
d = a +" "+ b
print(c)
print(d)

HelloWorld
Hello World

# Relational Operators
#  >, <, >= , <=, ==, !=

In [20]:
print(x>y)

True

In [21]:
print(x<y)

False

In [22]:
print(x>=y)

True

In [23]:
print(x<=y)

False

In [24]:
print(x==y)

False

In [25]:
print(x!=y)

True

Ternary Statements

In [26]:
a= 10 
b = 5 if a == 10 else 20
print(b)

5

In [27]:
a= 5
b = 5 if a == 10 else 20
print(b)

20

# Global Variables

In [28]:
# Global variable
x ="sam"
def myfunc():
    print("I am" +" "+ x)
    
myfunc()

I am sam

In [29]:
# Global variable can use inside and outside the function 

x ="Awesome"
y ="use"
def myfunc():
    print("Python is" +" "+ x)
    
myfunc()
print("It is easy to"+" "+y)

Python is Awesome
It is easy to use

# Global Keyword

In [30]:
# Global keyword, the variable belongs to teh global scope
def myfunc():
    global x
    x = "world"
myfunc()

print("Hello"+" "+x)

Hello world

In [31]:
x= "jupyter"
def myfunc():
    global x
    x = "world"
myfunc()

print("Hello"+" "+x)
# to change the value of global variable, refer to teh variable and use *global* keyword inside the funtion

Hello world

# Built-in Data Types

Text Type:	              str

Numeric Types:	          int, float, complex

Sequence Types:	          list, tuple, range

Mapping Type:	          dict

Set Types:	              set, frozenset

Boolean Type:	          bool

Binary Types:	          bytes, bytearray, memoryview

None Type:	              NoneType

In [32]:
x=2
y='sam'
#the data type of x and y
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [33]:
a = 1j
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)
print(type(x),type(y),type(z))
print(type(a)) # complex numeric type

3 3 3.0
<class 'str'> <class 'int'> <class 'float'>
<class 'complex'>

In [34]:
x = 1
y = 322558711.2
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'int'>

In [35]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# converting from int to float
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(x)

print(a);print(b);print(c)
print(type(a)); print(type(b)); print(type(c));

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [36]:
x = ["apple", "banana", "cherry"]
y = ("apple", "banana", "cherry")
z = range(6)
a = {"name" : "John", "age" : 36}
b = {"apple", "banana", "cherry"}
c = frozenset({"apple", "banana", "cherry"})

print(x,type(x))
print(y, type(y))
print(z, type(z))
print(a, type(a))
print(b, type(b))
print(c,type(c))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
range(0, 6) <class 'range'>
{'name': 'John', 'age': 36} <class 'dict'>
{'cherry', 'banana', 'apple'} <class 'set'>
frozenset({'cherry', 'banana', 'apple'}) <class 'frozenset'>

# Random Number

In [37]:
import random

print(random.randrange(1,20)) # Random value between 1 to 20

7

# String

In [38]:
#print the character according to the position(starts from 0)
a = "Hello world"
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

H
e
l
l
o

In [39]:
#String length
print(len(a))

11

In [40]:
txt = "Nature is beautiful"
print("beautiful" in txt)

True

In [41]:
if "beautiful" in txt:
    print("yes,'beautiful' is present")

yes,'beautiful' is present

In [42]:
if "expensive" not in txt:
    print("yes,'expensive' is not present")

yes,'expensive' is not present

In [43]:
a= "Hello World!"
print(a[2:5])

llo

In [44]:
print(a.upper())

HELLO WORLD!

In [45]:
print(a.lower())

hello world!

In [46]:
print(a.replace("H","J"))

Jello World!

In [47]:
print(a.split(" "))

['Hello', 'World!']

# Format- String

In [48]:
# age = 23
# txt = "My name is sam, I am " + age
# print(txt)
#Error- can only concatenate str (not "int") to str

# Use the format() method to insert numbers into strings:
age = 23
txt = "My name is sam, and I am {}"
print(txt.format(age))

My name is sam, and I am 23

In [49]:
quantity = 3
itemno = 567
price = 49.95
myorder ="I want {} pieces of item {} for {} dollars."
order = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))
print(order.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.
I want to pay 49.95 dollars for 3 pieces of item 567.

In [50]:
#info= "My name is "sam" from nagpur" -- we will get an error if we use double quotes inside a string that is surrounded by double quotes
info= "My name is \"sam\" from nagpur"
info

'My name is "sam" from nagpur'

# Escape Characters

Code   Result

\'    -->   Single Quote
\\    -->   Backslash
\n    -->   New Line
\r    -->   Carriage Return
\t    -->   Tab
\b    -->   Backspace
\f    -->   Form Feed
\ooo  -->   Octal value
\xhh  -->   Hex value

# User Input

In [51]:
a= input()
print(a)

10
10

In [52]:
a= input("Enter your name: ")
print(a)

Enter your name: Sam
Sam

In [53]:
a= input("Enter your name: ")
print("Hello",a)

Enter your name: Sam
Hello Sam

In [54]:
a = input("Enter first number: ")
b= input("Enter second number: ")
c =a+b
print("Addition of",a,b,"is",c)
# it is considering a and b as string

Enter first number: 10
Enter second number: 20
Addition of 10 20 is 1020

In [55]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = a+b 
print("Addition of a and b is: ",c)

Enter first number: 10
Enter second number: 20
Addition of a and b is:  30

# Conditional Statements

1. If Else
2. If
3. Else
4. El If (else if)
5. If Else Ternary Expression

In [56]:
a = input("Username= ")

if a == "Samyuktha":
    print("Hello Admin")
else:
    print("Not allowed \n File Restricted")

Username= Sam
Not allowed
 File Restricted

In [57]:
x = int(input("Enter a number between 1-10: "))

if 1<=x<=10:
    print(x, "is valid")
elif x>10:
    print("your number is greater than 10")
else:
    print("your number is smaller than 1")

Enter a number between 1-10: 2
2 is valid

### Nested If else

In [102]:
# user name = samyuktha 
# password = sam
# pincode = 1010
user = input("Enter user name: ")
if user == "samyuktha":
    password = input(" Enter password: ")
    if password == "sam":
        pincode = int(input("Enter pincode: "))
        if pincode == 1010:
            print("Welcome Samyuktha")
        else:
            print("File restricted")
    else:
        print("File restricted")
else:
    print("File restricted")

Enter user name: samyuktha
 Enter password: sam
Enter pincode: 1010
Welcome Samyuktha